
name: "release godon-cli image"

on:
  push:
    tags:
      - 'godon-cli-*'

jobs:
  build-and-release-image:
    uses: ./.github/workflows/release-image.yml
    secrets: inherit
    permissions:
      contents: read
      packages: write