
name: "release godon-seeder image"

on:
  push:
    tags:
      - 'godon-seeder-*'

permissions:
  contents: write
  packages: write

jobs:
  build-and-release-image:
    uses: ./.github/workflows/release-image.yml
    secrets: inherit