
name: "release godon-api image"

on:
  push:
    tags:
      - 'godon-api-*'

jobs:
  build-and-release-image:
    uses: ./.github/workflows/release-image.yml
    secrets: inherit
    permissions:
      contents: read
      packages: write
